$peach-crayola: #f7c59fff;
$space-cadet: #2a324bff;
$rhythm: #767b91ff;
$light-periwinkle: #c7ccdbff;
$alice-blue: #e1e5eeff;
$box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
$shadow: -3px 7px 33px -5px rgba(66, 68, 90, 1);
