<div class="about">
  <h1 class="about__header">
    About Moviepedia
  </h1>

  <div class="about__description">
    A movie is a form of entertainment that tells a story, usually in the form of a narrative, through the use of moving images. Movies are typically shown in theaters or on television, and may also be available for streaming or download online. The movie industry is the business of producing and distributing movies. It includes a wide range of professionals, from actors and directors to producers, writers, and technicians. The movie industry is a significant contributor to the global economy, with billions of dollars in revenue generated each year. It is also an important cultural force, with the ability to shape public opinion and influence social norms.
  </div>

  <div class="about__authors">
    <h3>Moviepedia Authors:</h3>
    <mat-list class="card__content-known-for">
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Patryk Sroczyński</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Mariusz Wróbel</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Arkadiusz Stencel</div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="about__api">
    <h3>API used to build Moviepedia</h3>
    <a href="https://developers.themoviedb.org/4/getting-started/authorization">https://developers.themoviedb.org/4/getting-started/authorization</a>
  </div>
</div>
