@import '../../styles/styles';

.about {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  color: $space-cadet;
  background: $alice-blue;
  row-gap: 4rem;

  &__header {
    text-align: center;
    font-size: 52px;
    letter-spacing: 1px;
  }

  &__description {
    padding: 0 12rem;
    text-align: center;
  }
  @media (max-width: 900px) {
    &__description {
      padding: 0 4rem;
      text-align: center;
    }
  }

  &__api {
    a {
      color: $rhythm;
      &:hover {
        color: $peach-crayola;
      }
    }
  }
}
