<footer class="footer">
  <div class="footer__header">
    Moviepedia
  </div>

  <div class="footer__content">
    <div class="content__contact">
      <h3>Moviepedia Company</h3>
      <p>2276 Hidden Valley Road</p>
      <p>Harrisburg</p>
      <p>Pennsylvania</p>
      <p>Telephone Number: <span class="content__contact--value">717-256-2844</span></p>
      <p>Mobile Number: <span class="content__contact--value">717-350-2996</span></p>
    </div>

    <div class="content__social-media">
      <h3>Check out our social media!</h3>
      <div class="content__social-media-list">
        <a href="#"><mat-icon>facebook</mat-icon>Facebook</a>
        <a href="#"><mat-icon>mail</mat-icon>Mail</a>
      </div>
    </div>
  </div>
</footer>
