@import '../../../styles/styles';

.card {
  display: flex;
  width: 20rem;
  height: 100%;
  align-content: space-between;

  &__header {
    justify-content: center;
    align-content: center;
    min-height: 10%;

    &-title {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__cover {
    max-height: 45%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  &__actions {
    padding-top: 2rem;
    a {
      color: $space-cadet;
    }
  }
}
