@import '../../../styles/styles';

.actors-list {
  background: $alice-blue;
  padding: 4rem;

  &__header {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding: 6rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: space-between;
    row-gap: 1rem;
  }

  @media (max-width: 900px) {
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20rem);
      justify-content: center;
      gap: 1rem;
    }
  }
}
