@import '../../../styles/styles';

.actors-list {
  background: $alice-blue;
  padding: 4rem;
  color: $space-cadet;

  &__header {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding: 6rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: space-between;
    row-gap: 1rem;
  }
}

@media ($mobile-width) {
  .actors-list {
    padding: 0 0 4rem 0;

    &__header {
      padding: 4rem 0 4rem 0;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20rem);
      justify-content: center;
      gap: 1rem;
    }
  }
}
