@import '../../../styles/styles';

.movie-detail {
  display: flex;
  flex-direction: column;
  background: $alice-blue;
  padding: 4rem;
  color: $space-cadet;

  &__header {
    text-align: center;
    &-image {
      width: 50vw;
      border-radius: 15px;
      box-shadow: $shadow;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;

    &-lists {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &--error {
    h1 {
      color: $space-cadet;
    }
    a {
      color: $space-cadet;
      text-decoration: none;

      &:hover {
        color: $peach-crayola;
      }
    }
  }
}

@media ($mobile-width) {
  .movie-detail {
    padding: 2rem;

    &__header {
      &-title {
        margin-bottom: 1rem;
      }
      &-image {
        width: 80vw;
      }
    }

    &__content {
      &-lists {
        flex-direction: column;
      }
    }
  }
}
