@import '../../../styles/styles';

.card {
  display: flex;
  width: 20rem;
  height: 100%;
  align-content: space-between;
  color: $space-cadet;

  &__header {
    justify-content: center;
    align-content: center;
    min-height: 3%;

    &-title {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__cover {
  }

  &__content {
    &-popularity {
      text-align: center;
    }
  }

  &__actions {
    a {
      color: $space-cadet;
    }
  }
}
