@import '../../styles/styles';

.main {
  background: $alice-blue;
  padding: 2rem;
  color: $space-cadet;

  &__header {
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 72px;
    letter-spacing: 1px;
  }

  &__description {
    padding: 0 12rem;
    text-align: center;
  }
  @media (max-width: 900px) {
    &__description {
      padding: 0 4rem;
      text-align: center;
    }
  }

  &__search {
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 5rem 0 3rem 0;
  }

  &__paginator {
    background: $alice-blue;
  }
}
